<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styleshhet", href="/css/error.css">
    <title>ERROR 404</title>
</head>
<body>
    <h1>ERROR 404, PAGE NOT FOUND</h1>
    <div>
        <a href="/"> FOR WEATHER PAGE</a><br>
        <a href="/help">FOR MY HELP PAGE</a><br>
        <a href="/about">FOR MY ABOUT PAGE</a><br>
    </div>
    <P>It's okay that you did not know about the correct URl, stuff happens, you can use this to direct towards the real url.</P>
    <br>
    <p>stuff happens, you can use this to direct towards the real url.</p>
    <br>
    <p>Your's sincerely</p>
    <br>
    <p>The developers</p>
</body>
</html>