div {
    color: grey;
    text-align: center;
    font-family: 'Bell MT'
}
h1 {
    color: grey;
    text-align: center;
    font-family: 'Bell MT'
}
p {
    color: grey;
    text-align: center;
    font-family: 'Bell MT'
}